@font-face {
    font-family: 'NinjaFont';
    src: url('/assets/fonts/ntailu.ttf') format('truetype');
}

.imagePreview{

width: 480pc;
height: 360px;

}

.modal-image{

    width: 100%;
    

}

#exampleModal{

    z-index: 10000;

}

.contenido{

    font-family: "NinjaFont" !important;
    color: #000000 !important;
    /* text-shadow: 2px 1px 2px #888888; */
    font-size: 16px;
    font-weight: bold;

}