<app-header></app-header>
<app-validating-circle></app-validating-circle>
<div class="container text">
    <div class="row">
        <div class="col">

            <h2>Are you open for commissions?</h2>
            <p>I'm afraid I'm not, sorry. I haven't taken commissions for several years now.</p>

            <h2> I subscribe to your Patreon, do I get access to all of your uncensored works?</h2>
            <p>That will depend on the Tier you pledge to. To get ALL of my previous works you'll need to pledge to the
                "Legend" ($75) Tier, and you would receive those on the next 5th after your pledge.
                All rewards are sent via Patreon's direct message on the 5th of every month, not posted openly on my
                feed.
                The basic Tier to get any uncensored works from the moment of your pledge and forward is the "Ninja"
                Tier ($10).
                There are other Tiers that include the last year's pics, last two years, etc.</p>

            <h2>Do you have a Discord?</h2>
            <p>Not for the moment, no.</p>

        </div>
    </div>
</div>