
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
        <div class="col">
            <h2>Administrator user Only!</h2>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>

                    <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)" class="form-signin">
                        <div class="form-label-group">


                            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email"
                                [(ngModel)]="user.email" required autofocus>
                        </div>

                        <div class="form-label-group">



                            <input type="password" id="inputPassword" name="password" class="form-control"
                                placeholder="Password" [(ngModel)]="user.password" required>

                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="submit">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
