
@media (max-width: 499px) {
    .img-media{

        width: 150px;
        height: 128px;
    }
    
    .container-download{
    
        margin-top: 45%;
    }
    .firstClass{
        /* background-color: orange; */
    }

    .btn-sm{

        margin-left:35%;
    }
}

@media (min-width: 500px) and (max-width: 1399px) {
    .img-media{

        width: 150px;
        height: 128px;
    }
    
    .container-download{
    
        margin-top: 50%;
    }
    .btn-sm{

        margin-left:70%;
    }
}

@media (min-width: 1400px) {
    .img-media{

        width: 150px;
        height: 128px;
    }
    
    .container-download{
    
        margin-top: 65%;
    }
    .btn-sm{

        margin-left:70%;
    }
}